@charset "UTF-8";
@import url("https://fonts.googleapis.com/css2?family=PT+Sans&family=Ubuntu&display=swap");
#pie {
  background-color: black;
  color: yellow;
  text-align: center;
}

a {
  color: white;
}

a:hover {
  cursor: pointer;
  color: gold;
}

a:link {
  text-decoration: none;
}

a:visited {
  text-decoration: none;
}

/*Colores fondo*/
/*Fondo sitio web*/
body {
  background: linear-gradient(to right, #3A6073, #16222A);
  text-align: justify;
}

/*Fondo Carrusel Tragos Preparados*/
.fondotragos {
  background: linear-gradient(to left, #536976, #BBD2C5);
}

/*Boton comprar productos Aqui*/
button {
  font-size: 17px;
  padding: 0.5em 2em;
  border: transparent;
  box-shadow: 2px 2px 4px rgba(0, 0, 0, 0.4);
  background: rgb(173, 23, 0);
  text-decoration-color: white;
  border-radius: 4px;
  text-decoration-line: none;
}

/* button:hover {
  background: rgb(94, 63, 1);
  background: linear-gradient(90deg, rgb(172, 178, 0) 0%, rgb(0, 1, 64) 100%);
} */

button:active {
  transform: translate(0em, 0.2em);
  transform: scale(2, 2);
}

.boton {
  padding: 1.1em 2em;
  background: none;
  border: 2px solid #fff;
  font-size: 15px;
  color: #131313;
  cursor: pointer;
  position: relative;
  overflow: hidden;
  transition: all 0.3s;
  border-radius: 12px;
  background-color: #ecd448;
  font-weight: bolder;
  box-shadow: 0 2px 0 2px #000;
}

.boton:before {
  content: "";
  position: absolute;
  width: 100px;
  height: 120%;
  background-color: #ff6700;
  top: 50%;
  transform: skewX(30deg) translate(-150%, -50%);
  transition: all 0.5s;
}

.boton:hover {
  background-color: #4cc9f0;
  color: #fff;
  box-shadow: 0 2px 0 2px #0d3b66;
}

.boton:hover::before {
  transform: skewX(30deg) translate(150%, -50%);
  transition-delay: 0.1s;
}

.boton:active {
  transform: scale(0.9);
}

.btn {
  color: rgb(234, 234, 234);
  text-transform: uppercase;
  text-decoration: none;
  border: 2px solid rgb(226, 229, 28);
  padding: 10px 20px;
  font-size: 17px;
  font-weight: bold;
  background: transparent;
  position: relative;
  transition: all 1s;
  overflow: hidden;
}

.btn:hover {
  color: white;
}

.btn::before {
  content: "";
  position: absolute;
  height: 100%;
  width: 0%;
  top: 0;
  left: -40px;
  transform: skewX(45deg);
  background-color: linear-gradient(90deg, rgb(22, 3, 166) 0%, rgb(0, 1, 64) 100%);
  z-index: -1;
  transition: all 1s;
}

.btn:hover::before {
  width: 160%;
}

#grilla { /*GRID ÁREA responsive*/
  display: grid;
  grid-template-areas: "header header" "productos publicidad" "footer footer";
  grid-template-columns: 33% 66%;
  grid-template-rows: repeat(3, 1fr);
}

/*Asignamos las áreas*/
header {
  font-size: 30px;
  display: flex;
  grid-area: header;
  background: #16222A;
  border-radius: 5px;
  justify-content: center;
  align-items: center;
}

#productos {
  grid-area: productos;
  background: #0f1d26;
  border-radius: 5px;
  justify-content: center;
  align-items: center;
}

aside {
  grid-area: publicidad;
  background: #091e2b;
  border-radius: 5px;
  justify-content: center;
  align-items: center;
}

footer {
  grid-area: footer;
  background: #00131f;
  border-radius: 5px;
  justify-content: center;
  align-items: center;
}

.imgtrago {
  max-width: 450px;
}

.imgAnimado {
  border: 3px solid white;
  margin-bottom: 15px;
  border-radius: 10%;
}
.imgAnimado:hover {
  transform: translate(10px, 10px);
}

.containerTragos {
  padding-right: 50px;
  display: grid;
  grid-template-columns: 2fr;
  grid-template-rows: 2fr;
}

.img-thumbnail:hover {
  transform: scale(1.1, 1.1);
}

body {
  font-family: "PT Sans", sans-serif;
  font-family: "Ubuntu", sans-serif;
}

.titulo-animado {
  animation-name: zoomInDown;
  animation-iteration-count: 1;
  animation-timing-function: ease-in;
  animation-duration: 10s;
  animation-delay: 0;
}

.titulo-animado:hover {
  transform: scale(2, 2);
}

.subtitulo-animado {
  animation-name: fadeUp;
  animation-iteration-count: 1;
  animation-duration: 2s;
  animation-delay: 2s;
}

/*Productos*/
.prodAnimada1 {
  animation-name: bounce;
  animation-iteration-count: 1;
  animation-duration: 2s;
  animation-delay: 0.5;
}

.prodAnimada2 {
  animation-name: bounce;
  animation-iteration-count: 1;
  animation-duration: 2s;
  animation-delay: 1;
}

.prodAnimada3 {
  animation-name: bounce;
  animation-iteration-count: 1;
  animation-duration: 2s;
  animation-delay: 1.5;
}

.prodAnimada4 {
  animation-name: bounce;
  animation-iteration-count: 1;
  animation-duration: 2s;
  animation-delay: 2;
}

.prodAnimada5 {
  animation-name: bounce;
  animation-iteration-count: 1;
  animation-duration: 2s;
  animation-delay: 2.5;
}

.prodAnimada6 {
  animation-name: bounce;
  animation-iteration-count: 1;
  animation-duration: 2s;
  animation-delay: 3;
}

.prodAnimada7 {
  animation-name: bounce;
  animation-iteration-count: 1;
  animation-duration: 2s;
  animation-delay: 3.5;
}

.prodAnimada8 {
  animation-name: bounce;
  animation-iteration-count: 1;
  animation-duration: 2s;
  animation-delay: 4;
}

.prodAnimada9 {
  animation-name: bounce;
  animation-iteration-count: 1;
  animation-duration: 2s;
  animation-delay: 4.5;
}

/*Promociones*/
.promAnimada1 {
  animation-name: bounce;
  animation-iteration-count: 1;
  animation-duration: 2s;
  animation-delay: 1;
}

.promAnimada2 {
  animation-name: bounce;
  animation-iteration-count: 1;
  animation-duration: 2s;
  animation-delay: 2;
}

.promAnimada3 {
  animation-name: bounce;
  animation-iteration-count: 1;
  animation-duration: 2s;
  animation-delay: 3;
}

.promAnimada4 {
  animation-name: bounce;
  animation-iteration-count: 1;
  animation-duration: 2s;
  animation-delay: 4;
}

.promAnimada5 {
  animation-name: bounce;
  animation-iteration-count: 1;
  animation-duration: 2s;
  animation-delay: 5;
}

@media screen and (min-width: 481px) and (max-width: 992px) {
  #grilla {
    /*Activarmos grilla y con áreas*/
    display: grid;
    height: 300px;
    width: size(8);
    grid-template-areas: "header header" "productos publicidad" "footer footer";
    grid-template-columns: 1fr 2fr;
    grid-template-rows: 75px 150px 75px;
  }
  .grid-container {
    width: 100%;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
  }
  .containerTragos {
    width: 100%;
    margin-left: 10px;
    display: grid;
    grid-template-rows: repeat(2, 1fr);
  }
  .productos-container {
    width: 100%;
    border: 1px solid yellow;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(2, 1fr);
  }
}
@media screen and (min-width: 993px) {
  .grid-container {
    width: 100%;
    height: auto;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
  }
  .containerTragos {
    width: 90%;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
  }
  .productos-container {
    width: 100%;
    height: auto;
    border: 1px solid white;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
  }
  #grilla { /*GRID ÁREA responsive*/
    height: 300px;
    width: 75%;
    display: grid;
  }
}
@media screen and (max-width: 280px) {
  #grilla { /*GRID ÁREA responsive*/
    height: 500px;
    width: 90%;
    display: grid;
    grid-template-areas: "header" "productos" "publicidad" "footer";
    grid-template-columns: 1fr;
    grid-template-rows: 23% 24% 32% 21%;
  }
  .grid-container {
    width: 100%;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(2, 1fr);
  }
}
@media screen and (min-width: 281px) and (max-width: 480px) {
  #grilla { /*GRID ÁREA responsive*/
    height: 500px;
    width: 90%;
    display: grid;
    grid-template-areas: "header" "productos" "publicidad" "footer";
    grid-template-columns: 1fr;
    grid-template-rows: 30% 20% 30% 20%;
  }
  .grid-container {
    width: 100%;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(2, 1fr);
  }
  #pie {
    height: 300px;
    border-radius: 0%;
  }
}/*# sourceMappingURL=estilos.css.map */

.botonVaciarFinalizar{
  display: flex;
  justify-content: center;
  align-items: center;
}


/* Añadir productos */

.buttonAnadir:hover {
  background: rgb(94, 63, 1);
  background: linear-gradient(90deg, rgb(172, 178, 0) 0%, rgb(0, 1, 64) 100%);
}

.containerCarrito{
  display: grid;
  place-items: center;
  width: 89%;
  margin-left: 50px;
}
.botonSumRes{
  margin-left: 70px;
  margin-right: auto;
}

.containerVaciarFinalizar{
  display: grid;
  place-items: center;
  width: 40%;
  margin-left: 50px;
}