@charset "UTF-8";
@import url("https://fonts.googleapis.com/css2?family=PT+Sans&family=Ubuntu&display=swap");
#pie {
  background-color: black;
  color: yellow;
  text-align: center;
}

#pie:hover {
  background: linear-gradient(to right, red, blue);
  color: white;
}

/*Colores fondo*/
/*Fondo sitio web*/
body {
  background: linear-gradient(to right, #3A6073, #16222A);
  text-align: justify;
}

/*Fondo Carrusel Tragos Preparados*/
.fondotragos {
  background: linear-gradient(to left, #536976, #BBD2C5);
}

@media screen and (min-width: 481px) and (max-width: 992px) {
  #grilla {
    /*Activarmos grilla y con áreas*/
    display: grid;
    height: 300px;
    width: size(8);
    grid-template-areas: "header header" "productos publicidad" "footer footer";
    grid-template-columns: 1fr 2fr;
    grid-template-rows: 75px 150px 75px;
  }
  .grid-container {
    width: 100%;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
  }
  .containerTragos {
    width: 100%;
    margin-left: 10px;
    display: grid;
    grid-template-rows: repeat(2, 1fr);
  }
  .productos-container {
    width: 100%;
    border: 1px solid yellow;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(2, 1fr);
  }
}
@media screen and (min-width: 993px) {
  .grid-container {
    width: 100%;
    height: auto;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
  }
  .containerTragos {
    width: 90%;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
  }
  .productos-container {
    width: 100%;
    height: auto;
    border: 1px solid white;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
  }
  #grilla { /*GRID ÁREA responsive*/
    height: 300px;
    width: 75%;
    display: grid;
  }
}
/*Boton comprar productos Aqui*/
button {
  font-size: 17px;
  padding: 0.5em 2em;
  border: transparent;
  box-shadow: 2px 2px 4px rgba(0, 0, 0, 0.4);
  background: rgb(243, 250, 22);
  text-decoration-color: white;
  border-radius: 4px;
  text-decoration-line: none;
}

button:hover {
  background: rgb(94, 63, 1);
  background: linear-gradient(90deg, rgb(22, 3, 166) 0%, rgb(0, 1, 64) 100%);
}

button:active {
  transform: translate(0em, 0.2em);
  transform: scale(2, 2);
}

#grilla { /*GRID ÁREA responsive*/
  display: grid;
  grid-template-areas: "header header" "productos publicidad" "footer footer";
  grid-template-columns: 33% 66%;
  grid-template-rows: repeat(3, 1fr);
}

/*Asignamos las áreas*/
header {
  font-size: 30px;
  display: flex;
  justify-content: center;
  align-items: center;
  grid-area: header;
  background: #16222A;
  border-radius: 5px;
}

#productos {
  grid-area: productos;
  background: #0f1d26;
  justify-content: center;
  align-items: center;
  border-radius: 5px;
}

aside {
  grid-area: publicidad;
  background: #091e2b;
  justify-content: center;
  align-items: center;
  border-radius: 5px;
}

footer {
  grid-area: footer;
  background: #00131f;
  justify-content: center;
  align-items: center;
  border-radius: 5px;
}

.imgtrago {
  max-width: 450px;
}

.imgAnimado:hover {
  transform: translate(10px, 10px);
}

.containerTragos {
  padding-right: 50px;
  display: grid;
  grid-template-columns: 2fr;
  grid-template-rows: 2fr;
}

body {
  font-family: "PT Sans", sans-serif;
  font-family: "Ubuntu", sans-serif;
}

.titulo-animado {
  animation-name: zoomInDown;
  animation-iteration-count: 1;
  animation-timing-function: ease-in;
  animation-duration: 10s;
  animation-delay: 0;
}

.titulo-animado:hover {
  transform: scale(2, 2);
}

.subtitulo-animado {
  animation-name: fadeUp;
  animation-iteration-count: 1;
  animation-duration: 2s;
  animation-delay: 2s;
}

/*Productos*/
.prodAnimado1 {
  animation-name: bounce;
  animation-iteration-count: 1;
  animation-duration: 2s;
  animation-delay: 0;
}

.prodAnimado2 {
  animation-name: bounce;
  animation-iteration-count: 1;
  animation-duration: 2s;
  animation-delay: 0.5s;
}

.prodAnimado3 {
  animation-name: bounce;
  animation-iteration-count: 1;
  animation-duration: 2s;
  animation-delay: 1s;
}

.prodAnimado4 {
  animation-name: bounce;
  animation-iteration-count: 1;
  animation-duration: 2s;
  animation-delay: 1.5s;
}

.prodAnimado5 {
  animation-name: bounce;
  animation-iteration-count: 1;
  animation-duration: 2s;
  animation-delay: 2s;
}

.prodAnimado6 {
  animation-name: bounce;
  animation-iteration-count: 1;
  animation-duration: 2s;
  animation-delay: 2.5s;
}

.prodAnimado7 {
  animation-name: bounce;
  animation-iteration-count: 1;
  animation-duration: 2s;
  animation-delay: 3s;
}

.prodAnimado8 {
  animation-name: bounce;
  animation-iteration-count: 1;
  animation-duration: 2s;
  animation-delay: 3.5s;
}

.prodAnimado9 {
  animation-name: bounce;
  animation-iteration-count: 1;
  animation-duration: 2s;
  animation-delay: 4s;
}

.prodAnimado10 {
  animation-name: bounce;
  animation-iteration-count: 1;
  animation-duration: 2s;
  animation-delay: 4.5s;
}

/*Promociones*/
.promoAnimada1 {
  animation-name: fade;
  animation-iteration-count: 1;
  animation-duration: 2s;
  animation-delay: 0.5s;
}

.promoAnimada2 {
  animation-name: fade;
  animation-iteration-count: 1;
  animation-duration: 2s;
  animation-delay: 1.25s;
}

.promoAnimada3 {
  animation-name: fade;
  animation-iteration-count: 1;
  animation-duration: 2s;
  animation-delay: 2s;
}

.promoAnimada4 {
  animation-name: fade;
  animation-iteration-count: 1;
  animation-duration: 2s;
  animation-delay: 2.75s;
}

.promoAnimada5 {
  animation-name: fade;
  animation-iteration-count: 1;
  animation-duration: 2s;
  animation-delay: 3.5s;
}

.promoAnimada6 {
  animation-name: fade;
  animation-iteration-count: 1;
  animation-duration: 2s;
  animation-delay: 4.25s;
}

@media screen and (max-width: 280px) {
  #grilla { /*GRID ÁREA responsive*/
    height: 500px;
    width: 90%;
    display: grid;
    grid-template-areas: "header" "productos" "publicidad" "footer";
    grid-template-columns: 1fr;
    grid-template-rows: 23% 24% 32% 21%;
  }
  .grid-container {
    width: 100%;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(2, 1fr);
  }
}
@media screen and (min-width: 281px) and (max-width: 480px) {
  #grilla { /*GRID ÁREA responsive*/
    height: 500px;
    width: 90%;
    display: grid;
    grid-template-areas: "header" "productos" "publicidad" "footer";
    grid-template-columns: 1fr;
    grid-template-rows: 30% 20% 30% 20%;
  }
  .grid-container {
    width: 100%;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(2, 1fr);
  }
}/*# sourceMappingURL=estilos.css.map */