/*Productos*/
.prodAnimado1{
    animation-name: bounce;
    animation-iteration-count: 1; 
    animation-duration: 2s;
    animation-delay: 0;
}

.prodAnimado2{
    animation-name: bounce;
    animation-iteration-count: 1; 
    animation-duration: 2s;
    animation-delay: 0.5s;
}

.prodAnimado3{
    animation-name: bounce;
    animation-iteration-count: 1; 
    animation-duration: 2s;
    animation-delay: 1s;
}

.prodAnimado4{
    animation-name: bounce;
    animation-iteration-count: 1; 
    animation-duration: 2s;
    animation-delay: 1.5s;
}

.prodAnimado5{
    animation-name: bounce;
    animation-iteration-count: 1; 
    animation-duration: 2s;
    animation-delay: 2s;
}

.prodAnimado6{
    animation-name: bounce;
    animation-iteration-count: 1; 
    animation-duration: 2s;
    animation-delay: 2.5s;
}

.prodAnimado7{
    animation-name: bounce;
    animation-iteration-count: 1; 
    animation-duration: 2s;
    animation-delay: 3s;
}

.prodAnimado8{
    animation-name: bounce;
    animation-iteration-count: 1; 
    animation-duration: 2s;
    animation-delay: 3.5s;
}

.prodAnimado9{
    animation-name: bounce;
    animation-iteration-count: 1; 
    animation-duration: 2s;
    animation-delay: 4s;
}

.prodAnimado10{
    animation-name: bounce;
    animation-iteration-count: 1; 
    animation-duration: 2s;
    animation-delay: 4.5s;
}

/*Promociones*/
.promoAnimada1{
    animation-name: fade;
    animation-iteration-count: 1; 
    animation-duration: 2s;
    animation-delay: 0.5s;
}
.promoAnimada2{
    animation-name: fade;
    animation-iteration-count: 1; 
    animation-duration: 2s;
    animation-delay: 1.25s;
}
.promoAnimada3{
    animation-name: fade;
    animation-iteration-count: 1; 
    animation-duration: 2s;
    animation-delay: 2s;
}
.promoAnimada4{
    animation-name: fade;
    animation-iteration-count: 1; 
    animation-duration: 2s;
    animation-delay: 2.75s;
}
.promoAnimada5{
    animation-name: fade;
    animation-iteration-count: 1; 
    animation-duration: 2s;
    animation-delay: 3.5s;
}
.promoAnimada6{
    animation-name: fade;
    animation-iteration-count: 1; 
    animation-duration: 2s;
    animation-delay: 4.25s;
}