/*Productos*/
@for $i from 1 to 10{
    .prodAnimado#{$i}{
       animation-name: bounce;
       animation-iteration-count: 1; 
       animation-duration: 2s;
       animation-delay: 1 * $i;
  }
}

/*Promociones*/
@for $i from 1 to 6{
    .promAnimada#{$i}{
        animation-name: bounce;
        animation-iteration-count: 1; 
        animation-duration: 2s;
        animation-delay: 1 * $i;
    }
}
