/*Boton comprar productos Aqui*/
// button {
//     font-size: 17px;
//     padding: 0.5em 2em;
//     border: transparent;
//     box-shadow: 2px 2px 4px rgba(0,0,0,0.4);
//     background: rgb(46, 7, 1);
//     text-decoration-color: white;
//     border-radius: 4px;
//     text-decoration-line: none;
// }
   
button:hover {
    background: rgb(94, 63, 1);
    background: linear-gradient(90deg, rgb(22, 3, 166) 0%, rgb(0, 1, 64) 100%);
}
   
button:active {
    transform: translate(0em, 0.2em);
    transform: scale(2,2)
}
//Boton Añadir Carrito//
.boton {
    padding: 1.1em 2em;
    background: none;
    border: 2px solid #fff;
    font-size: 15px;
    color: #131313;
    cursor: pointer;
    position: relative;
    overflow: hidden;
    transition: all 0.3s;
    border-radius: 12px;
    background-color: #ecd448;
    font-weight: bolder;
    box-shadow: 0 2px 0 2px #000;
   }
   
.boton:before {
    content: "";
    position: absolute;
    width: 100px;
    height: 120%;
    background-color: #ff6700;
    top: 50%;
    transform: skewX(30deg) translate(-150%, -50%);
    transition: all 0.5s;
   }
   
.boton:hover {
    background-color: #4cc9f0;
    color: #fff;
    box-shadow: 0 2px 0 2px #0d3b66;
   }
   
.boton:hover::before {
    transform: skewX(30deg) translate(150%, -50%);
    transition-delay: 0.1s;
   }
   
.boton:active {
    transform: scale(0.9);
   }
//Boton Acceder Distintos Alcoholes//
.btn {
    color: rgb(234, 234, 234);
    text-transform: uppercase;
    text-decoration: none;
    border: 2px solid rgb(226, 229, 28);
    padding: 10px 20px;
    font-size: 17px;
    font-weight: bold;
    background: transparent;
    position: relative;
    transition: all 1s;
    overflow: hidden;
  }
  
  .btn:hover {
    color: white;
  }
  
  .btn::before {
    content: '';
    position: absolute;
    height: 100%;
    width: 0%;
    top: 0;
    left: -40px;
    transform: skewX(45deg);
    background-color: linear-gradient(90deg, rgb(22, 3, 166) 0%, rgb(0, 1, 64) 100%);
    z-index: -1;
    transition: all 1s;
  }
  
  .btn:hover::before {
    width: 160%;
  }


.botonVaciarFinalizar{
  display: flex;
  justify-content: center;
  align-items: center;
}