/*Colores fondo*/
$bg-sm: linear-gradient(to right, #4A00E0, #8E2DE2); 
$bg-m: linear-gradient(to right, #3A6073, #16222A);
$bg-l: linear-gradient(to right, #dd1818, #333333); 
$bg-secondary: linear-gradient(to left, #536976, #BBD2C5);

/*Fondo sitio web*/
body{
    background: $bg-m;
    text-align: justify;
}

/*Fondo Carrusel Tragos Preparados*/
.fondotragos{
    background: $bg-secondary;
}