#grilla{ /*GRID ÁREA responsive*/
    display: grid;
    grid-template-areas: 
    "header header"
    "productos publicidad"
    "footer footer"
    ;
    grid-template-columns: 33% 66%;
    grid-template-rows: repeat(3,1fr);
}
@mixin bordes(){
    border-radius: 5px;
}

/*Asignamos las áreas*/
header{
    font-size: 30px;

    display: flex;
    justify-content: center;
    align-items: center;

    grid-area: header;
    background: #16222A;
    @include bordes();
}
#productos{
    grid-area: productos;
    background: #0f1d26;
    justify-content: center;
    align-items: center;
    @include bordes();
}
aside{
    grid-area: publicidad;
    background: #091e2b;
    justify-content: center;
    align-items: center;
    @include bordes();
}
footer{
    grid-area: footer;
    background: #00131f;
    justify-content: center;
    align-items: center;  
    @include bordes();
}