#grilla{ /*GRID ÁREA responsive*/
    display: grid;
    grid-template-areas: 
    "header"
    "productos"
    "publicidad"
    "footer"
    ;
    grid-template-columns: 1fr;
    grid-template-rows: repeat(4,1fr);
}

/*Asignamos las áreas*/
header{
    font-size: 30px;

    display: flex;
    justify-content: center;
    align-items: center;

    grid-area: header;
    background: #16222A;
}
#productos{
    grid-area: productos;
    background: #0f1d26;
    justify-content: center;
    align-items: center;
}
aside{
    grid-area: publicidad;
    background: #091e2b;
}
footer{
    grid-area: footer;
    background: #00131f;
    justify-content: center;
    align-items: center;  
}