

.imgtrago{
    max-width: 450px;
}
.imgAnimado{ 
    border: 3px solid white;
    margin-bottom: 15px;
    border-radius: 10%;
    &:hover{
        transform: translate(10px,10px);
    }
}
.containerTragos{
    padding-right: 50px;
    display: grid;
    grid-template-columns: 2fr;
    grid-template-rows: 2fr;
}

.img-thumbnail:hover{
    transform: scale(1.1, 1.1);
}
