
@media screen and (min-width: 481px) and (max-width: 992px) {
    #grilla{
        /*Activarmos grilla y con áreas*/
        display: grid;
        height: 300px;
        width: 85%;
        grid-template-areas: 
        "header header"
        "productos publicidad"
        "footer footer"
        ;
        grid-template-columns: 1fr 2fr;
        grid-template-rows: 75px 150px 75px;

    }
    .grid-container{
        width: 100%;
        
        display: grid;
        grid-template-columns: repeat(4, 1fr); 
    }
    .containerTragos{
        width: 100%;
        margin-left: 10px;
        
        display: grid;
        grid-template-rows: repeat(2, 1fr);
    }
    .productos-container{
        width: 100%;
        border: 1px solid yellow;

        display: grid;
        grid-template-columns: repeat(2, 1fr); 
        grid-template-rows: repeat(2, 1fr);
    }
}

@media screen and (min-width: 993px){
    .grid-container{
        width: 100%;
        height: auto;

        display: grid;
        grid-template-columns: repeat(4, 1fr); 
    }
    .containerTragos{
        width: 90%;
        
        display: grid;
        grid-template-columns: repeat(2, 1fr);
    }
    .productos-container{
        width: 100%;
        height: auto;
        border: 1px solid white;

        display: grid;
        grid-template-columns: repeat(4, 1fr); 
    }
    #grilla{ /*GRID ÁREA responsive*/
        height: 300px;
        width: 85%;
        display: grid;
    }
}