@import url('https://fonts.googleapis.com/css2?family=PT+Sans&family=Ubuntu&display=swap');
$fuente-oficial: 'PT Sans', sans-serif;
$fuente-secundaria: 'Ubuntu', sans-serif;

body{
    font-family: $fuente-oficial;
    font-family: $fuente-secundaria;
}

.titulo-animado{
    animation-name: zoomInDown;
    animation-iteration-count: 1;
    animation-timing-function: ease-in;
    animation-duration: 10s;
    animation-delay: 0;
}
.titulo-animado:hover{
    transform: scale(2,2);
}

.subtitulo-animado{
    animation-name: fadeUp;
    animation-iteration-count: 1;
    animation-duration: 2s;
    animation-delay: 2s;
}

//textos promociones//
