@import "pie";
@import "fondos";
@import "mediaQuery";
@import "button";
@import "grid";
@import "imagenes";
@import "textos";

text{
    color: white;
}

.containerTragos{
    padding-right: 50px;
    display: grid;
    grid-template-columns: 2fr;
    grid-template-rows: 2fr;

}

