@import "pie";
@import "fondos";
@import "button";
@import "grid";
@import "imagenes";
@import "textos";
@import "animaciones";
@import "mediaQuery";


$relleno: 10px;
$color-back: black;
$color-hover: gold;
$width: 10%;
@function size($valor){
    @return $valor * $width;
}

$height-principal: 500px;



//Al colocar estos mediaQuery en "_mediaQuery.scss", estos no se ejecutan.. por eso lo puse aqui

@media screen and (max-width: 280px){
    #grilla{ /*GRID ÁREA responsive*/
        height: $height-principal;
        width: size(9);
        display: grid;
        grid-template-areas: 
        "header"
        "productos"
        "publicidad"
        "footer"
        ;
        grid-template-columns: 1fr;
        grid-template-rows: 23% 24% 32% 21%;
    }
    .grid-container{
        width: size(10);
        
        display: grid;
        grid-template-columns: repeat(2, 1fr); 
        grid-template-rows: repeat(2,1fr);
    }

}
@media screen and (min-width: 281px) and (max-width: 480px){
    #grilla{ /*GRID ÁREA responsive*/
        height: $height-principal;
        width: size(9);
        display: grid;
        grid-template-areas: 
        "header"
        "productos"
        "publicidad"
        "footer"
        ;
        grid-template-columns: 1fr;
        grid-template-rows: 30% 20% 30% 20%;
    }
    .grid-container{
        width: size(10);
        
        display: grid;
        grid-template-columns: repeat(2, 1fr); 
        grid-template-rows: repeat(2,1fr);
    }
    #pie{
        height: 350px;
        border-radius: 0%;
    }
}

